openapi: 3.0.0
info:
  contact:
    email: decline@umass.edu
    name: Dan Cline
  description: An implementation of joinable rooms
  license:
    name: MIT
  title: roomservice
  version: 0.0.1
servers:
- url: http://galactus.player/v1
paths:
  /room:
    post:
      operationId: addRoom
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
          description: Room Code and Date.
      summary: Create a new room
      tags:
      - room
  /room/{code}:
    get:
      description: Returns a Room
      operationId: getRoomByCode
      parameters:
      - description: ID of Room to return
        explode: false
        in: path
        name: code
        required: true
        schema:
          type: string
        style: simple
      responses:
        200:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Room'
          description: successful operation
        400:
          content: {}
          description: Invalid code supplied
        404:
          content: {}
          description: Room not found
components:
  schemas:
    Room:
      description: A room
      example:
        createdAt: 2000-01-23T04:56:07.000+00:00
        code: code
        id: 0
      properties:
        id:
          format: int64
          type: integer
        code:
          type: string
        createdAt:
          format: date-time
          type: string
      title: Room
      type: object
      xml:
        name: Room
